<h1>Categories</h1>
  {{#each inventory.categories}}
 <div class="categories-images">
   <h2><a href="/Categories/{{name}}">{{name}}</a></h2>
   <a href="/Categories/{{name}}"><img class="images" src="./images/{{name}}/{{image}}"/></a>
   </div>
  {{/each}}

