<h1>{{category.name}}</h1>

  {{#each category.Products}}
  <div class="categories-images">
    <a href="/Categories/{{../category.name}}/{{name}}"><img class="images" src="/images/{{../category.name}}/{{image}}"/></a>
    <h2><a href="/Categories/{{../category.name}}/{{name}}">{{name}}:{{price}}</a></h2>
    <h2><a href="{{link}}">Visit this restaurant today!</a></h2>
  </div>
  {{/each}}

  

 