<h1>{{product.name}} Price: {{product.price}}</h1>

<img class="categories-images" src="/images/{{category}}/{{product.image}}"/>
<p>{{product.description}}</p>
<form class="form" action="/Categories/{{category}}/{{product.name}}" method="post">
    <input type = "hidden" name ="id" value = "{{product.id}}" />
    <input type = "hidden" name ="name" value = "{{product.name}}" />
    <input type = "hidden" name ="price" value = "{{product.price}}" />
  <input type="submit" name="" value="Add to cart">
</form>